beautifulsoup4==4.13.4
fastapi==0.115.12
httpx==0.28.1
pydantic==2.11.5
pymongo==4.13.1
pytest==8.4.0
python-dotenv==1.1.0
requests==2.32.3
requests-cache==1.2.1
responses==0.25.7
testcontainers==4.10.0
uvicorn==0.34.2
